<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <nav class="navbar">
        <div class="logo">Quiz Master</div>
        <div class="nav-links">
            <a href="#">Start</a>
            <a href="#">History</a>
            <a href="#">Science</a>
            <a href="#">Sports</a>
            <a href="#">Trivia</a>
            <a href="#">Logout</a>
        </div>
    </nav>
</body>
</html>