<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Quiz</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <%- include("./includes/navbar.ejs"); %>
    
    <main class="main-section">
        <div class="left">
            <img src="character.png" alt="Quiz Character" class="character-img">
        </div>
        <div class="right">
            <h1>Crush the Quiz<br>Own the Knowledge</h1>
            <p>Dive into the ultimate battleground of brains. <br>It's fun, it's fierce, and it's where smart wins out.<br><b>Are you up for the game?</b></p>
            <button onclick="startQuiz()">Start</button>
        </div>
    </main>

    
    <section class="rewards">
        <h2>Your Rewards</h2>
        <div class="icons">
            <img src="" alt="Reward 1">
            <img src="" alt="Reward 2">
            <img src="" alt="Reward 3">
            <img src="" alt="Reward 4">
            <img src="" alt="Reward 5">
            <img src="" alt="Reward 6">
        </div>
    </section>
</body>
</html>