<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Score Page</title>
  <link rel="stylesheet" href="/css/result.css">
  
</head>
<body>

  <div class="container">
    <h2>You got</h2>
    <div class="score red"><span><%= score%></span>/15</div> <!-- Change class to green, yellow, red based on score -->
    <div class="message">Harder than you thought huh?!</div>
    <!-- <button class="button">Challenge a friend</button> -->
    <a  href="/select" class="button outline">Try again</a>
  </div>

</body>
<script src="/javascript/script.js"></script>
</html>